.page{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: hsl(212, 45%, 89%);
	margin: 0 auto;
	font-family: "Outfit", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.qr-block{
	width: 100%;
	max-width: 320px;
	height: 499px;
	background-color: hsl(0, 0%, 100%);
	text-align: center;
	border-radius: 20px;
}

.qr-block__image{
	padding-top: 16px;
}

.qr-block__image_img{
	border-radius: 10px;
}

.qr-block__text{
	margin-top: 18px;
	padding: 0 16px;
	color: hsl(218, 44%, 22%);
}

.qr-block__text_title{
	font-size: 22px;
	margin-bottom: 16px;
}

.qr-block__text_p{
	font-size: 15px;
	color: hsl(216, 15%, 48%);
	width: 256px;
	padding: 0 16px;
}